#body {
  background-image: none;
  background-color: blanchedalmond;
}
nav {
  background-image: url(background.jpg);
}
#Ctn {
  height: 300px;
  border-radius: 50px;
  margin: 0px 190px 25px 190px;
}
.quote {
  color: #222222;
}
.author {
  color: #222222;
}
